.body-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    'header header'
    'aside main';
  .header {
    grid-area: header;
    background-color: $primary-color;
    color: $theme-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main {
    grid-area: main;
    background: $theme-white;
    color: $theme-black;
  }
  .aside {
    grid-area: aside;
    background-color: $theme-black;
    color: $theme-white;
    position: relative;
    background-image: url(../img/corner.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.experience-item {
  margin-bottom: 1.5em;
}

.profile-picture {
  width: 100%;
  margin-bottom: 1.5em;
}

.tech-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .column {
    border-left: 1px solid white;
    padding: 0 1em; 
    &:first-child {
      border: none;
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
    li {
      margin-bottom: 0.5em;
    }
  }
}

.corner-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(-1);
}
