.corner {
  display: block;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-45deg);
  left: 30%;
  bottom: -230px;
  height: 150px;
  width: 100%;
  background-color: $color1;
  box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.2);
  &::before {
    display: block;
    content: "";
    height: 40px;
    width: 100%;
    background-color: $color3;
    box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.2);
  }
  &::after {
    display: block;
    content: "";
    height: 40px;
    width: 100%;
    background-color: $color2;
    box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.2);
  }
}
